# Зависимости
/node_modules
/.pnp
.pnp.js

# Сборка
/build
/dist
/.cache

# Логи и настройки
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.prettierignore

# Переменные окружения
.env.local
.env.development
.env.test
.env.production

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Дополнительно
.DS_Store
*.log