# Веб-фреймворк и сервер
fastapi
uvicorn

# Работа с PostgreSQL
psycopg2-binary==2.9.9  # или asyncpg для асинхронности
sqlalchemy==2.0.25

# Работа с Redis
redis==5.0.1

# Валидация данных
pydantic==2.5.3
pydantic-settings==2.2.1  # для конфигов

# Асинхронность (опционально)
anyio==4.2.0

# Для асинхронного PostgreSQL (вместо psycopg2)
asyncpg==0.29.0

# Kafka (если будете добавлять событийную синхронизацию)
confluent-kafka==2.3.0

# Логирование
loguru==0.7.2

# Тестирование
pytest==7.4.4
httpx==0.26.0  # для асинхронных HTTP-запросов в тестах